<header class="header header--1" data-sticky="true">

    <div class="header__top">
        <div class="ps-container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span>Categories</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            <li *ngFor="let item of categories">
                                <a [routerLink]="['/by-category/'+item.categoryId]">{{item.categoryName}}</a>
                            </li>
                        </ul>
                    </div>
                </div><a class="ps-logo" [routerLink]="['/home']"><img src="img/logo_full.png" width="50%" alt="" /></a>
            </div>
            <div class="header__center" style="width: 700px;">
                <form class="ps-form--quick-search" action="#" method="get">
                    <input class="form-control" (keyup)="search($event)" type="text" placeholder="Seach Product By Name..." id="input-search" />
                    <button [routerLink]="['/search/'+keyword]">SEARCH</button>
                </form>
            </div>
            <div class="header__right">
                <div class="header__actions">
                    <!-- wishlist -->
                    <a class="header__extra" [routerLink]="['/favorites']">
                        <i class="icon-heart"></i>
                        <span>
                            <i>{{totalFavoriteItem}}</i>
                        </span>
                    </a>
                    <!-- Cart -->
                    <a class="header__extra" [routerLink]="['/cart']">
                        <i class="icon-bag2"></i>
                        <span>
                            <i>{{totalCartItem}}</i>
                        </span>
                    </a>
                    <!-- User -->
                    <div class="ps-block--user-header">
                        <div class="menu--product-categories">
                            <div class="ps-block__left">
                                <a class="header__extra" href="javascript:void(0);">
                                    <i class="icon-user"></i>
                                </a>
                            </div>
                            <div class="menu__content">
                                <ul class="menu--dropdown">
                                    <li *ngIf="isLogin">
                                        <!-- orders history -->
                                        <a [routerLink]="['/profile']">Orders History</a>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li *ngIf="isLogin">
                                        <!-- edit information -->
                                        <app-update-profile (editFinish)="finish()"></app-update-profile>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li *ngIf="isLogin">
                                        <!-- change password -->
                                        <app-update-password></app-update-password>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li *ngIf="!isLogin">
                                        <!-- login -->
                                        <a [routerLink]="['/sign-form']">Login</a>
                                    </li>
                                    <li *ngIf="isLogin">
                                        <!-- logout -->
                                        <a href="javascript:void(0);" (click)="logout()">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navigation">
        <div class="ps-container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span>CATEGORIES</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            <li *ngFor="let item of categories">
                                <a [routerLink]="['/by-category/'+item.categoryId]">{{item.categoryName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navigation__right">
                <ul class="menu">
                    <li class="menu-item"><a [routerLink]="['/home']" style="font-weight: bold;">HOME</a></li>
                    <li class="menu-item"><a [routerLink]="['/all-product']" style="font-weight: bold;">SHOP</a></li>
                    <li class="menu-item"><a [routerLink]="['/about']" style="font-weight: bold;">ABOUT US</a></li>
                    <li class="menu-item"><a [routerLink]="['/contact']" style="font-weight: bold;">CONTACT US</a></li>
                    <li class="menu-item" *ngIf="!isLogin"><a [routerLink]="['/sign-form']" style="font-weight: bold;">LOGIN &amp; REGISTER</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
