<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/bg/about-us.jpg" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h3>WELCOME TO SMART SHOP</h3>
                <h4>We connect millions of buyers and sellers around the world, empower individuals, and create economic opportunities for everyone.</h4>
                <p>In our marketplace, millions of people around the world connect, both online and offline, to create, sell, and buy unique goods. We also provide a range of services for sellers and tools to help entrepreneurial individuals start, manage, and expand their businesses. Our mission is to reimagine commerce in ways that build a more sustainable and inclusive world, while leveraging the power of business to strengthen communities and empower individuals.</p>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cube"></i>
                            <h4>45M</h4>
                            <p>Products to sell</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-store"></i>
                            <h4>1.8M</h4>
                            <p>The sellers are actively operating on our platform.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-bag2"></i>
                            <h4>30.6M</h4>
                            <p>The buyers are actively operating on our platform.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cash-dollar"></i>
                            <h4>$2.46M</h4>
                            <p>The annual total revenue of goods.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>NEWS</h3>
                        <p>Register To Receive Information About Products & Discount Coupons</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Email Address...">
                            <button class="ps-btn">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
