<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">CONTACT US</h4>
                <div class="widget_content">
                    <p>Hotline 24/7</p>
                    <h3>1800 979769</h3>
                    <p>590 CMT8 Str, Ward 11, Dist 3, Ho Chi Minh <br><a href="#"><span class="__cf_email__" data-cfemail="14777b7a6075776054797566607261666d3a777b">[email&#160;protected]</span></a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </aside>
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">QUICK LINKS</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">Policies</a></li>
                    <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                    <li><a href="javascript:void(0);">Shipping</a></li>
                    <li><a href="javascript:void(0);">Return & Refund</a></li>
                    <li><a href="javascript:void(0);">FAQs</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">COMPANY</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">About Us</a></li>
                    <li><a href="javascript:void(0);">Mission & Vision</a></li>
                    <li><a href="javascript:void(0);">Career</a></li>
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">BUSINESS</h4>
                <ul class="ps-list--link">
                    <li><a href="javascript:void(0);">Tracking Your Order</a></li>
                    <li><a href="javascript:void(0);">Payment Methods</a></li>
                    <li><a href="javascript:void(0);">Coupons</a></li>
                    <li><a href="javascript:void(0);">Shop Branch</a></li>
                </ul>
            </aside>
        </div>
        <!-- <div class="ps-footer__links">
            <p><strong>Điện tiêu dùng:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
            </p>
            <p><strong>Quần áo &amp; Trang phục:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
            </p>
            <p><strong>Nhà, Vườn &amp; Nhà bếp:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
            </p>
            <p><strong>Sức khỏe &amp; Làm đẹp:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
            </p>
            <p><strong>Trang sức &amp; Đồng hồ:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
            </p>
            <p><strong>Máy tính &amp; Công nghệ:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
            </p>
        </div> -->
        <div class="ps-footer__copyright">
            <p>&copy;2023 SmartShop. Copyrights Reserved</p>
            <p><span>We use secure payment methods for:</span>
                <a href="javascript:void(0);"><img src="img/payment-method/1.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/2.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/3.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/4.jpg" alt="" /></a>
                <a href="javascript:void(0);"><img src="img/payment-method/5.jpg" alt="" /></a>
            </p>
        </div>
    </div>
</footer>
