<div class="ps-page--my-account">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Home</a></li>
                <li>Login &amp; Register</li>
            </ul>
        </div>
    </div>
    <div class="ps-my-account">
        <div class="container">
            <form class="ps-form--account">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#sign-in" class="nav-link active" data-toggle="tab" style="color: black;">LOGIN</a>
                    </li>
                    <li>
                        <a href="#sign-up" class="nav-link" data-toggle="tab" style="color: black;">REGISTER</a>
                    </li>
                </ul>

                <!-- Login -->
                <div class="ps-tabs">
                    <div class="ps-tab active" id="sign-in">
                        <div class="ps-form__content">
                            <h4>LOGIN YOUR ACCOUNT</h4>
                            <form class="form" [formGroup]="loginForm">
                                <div class="form-group">
                                    <input
                                    formControlName="email"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter your email">
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control"
                                        type="password"
                                        [type]="show ? 'text' : 'password'"
                                        formControlName="password"
                                        id="password"
                                        placeholder="Enter your password">
                                        <!-- forgot password -->
                                    <a><app-forgot-password></app-forgot-password></a>
                                </div>
                                <div class="form-group">
                                    <div class="ps-checkbox">
                                        <input class="form-control" type="checkbox" (click)="toggle()" id="remember-me" name="remember-me" />
                                        <label for="remember-me">Display password?</label>
                                    </div>
                                </div>
                                <div class="form-group submtit">
                                    <button (click)="sign_in()" type="submit" class="ps-btn ps-btn--fullwidth">LOGIN</button>
                                </div>
                            </form>
                        </div>
                        <div class="ps-form__footer">
                            <!-- <p>Connect with:</p>
                            <ul class="ps-list--social">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul> -->
                        </div>
                    </div>

                    <!-- Sign up -->
                    <div class="ps-tab" id="sign-up">
                        <div class="ps-form__content">
                            <h4>REGISTER NEW ACCOUNT</h4>

                            <form class="form" [formGroup]="registerForm">
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('email')?.touched && registerForm.get('email')?.invalid}"
                                    formControlName="email"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter your email">
                                </div>
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('otp')?.touched && registerForm.get('otp')?.invalid}"
                                    formControlName="otp"
                                    maxlength="6"
                                    name="otp" id="otp"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter the OTP code that sent to your email">
                                    <a style="font-size: 14px;"
                                        class="btn btn-warning"
                                        (click)="registerForm.get('email')?.valid?sendOtp():sendError()">
                                        <span>Get OTP Code</span>
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('name')?.touched && registerForm.get('name')?.invalid}"
                                    formControlName="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter your fullname">
                                </div>
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('password')?.touched && registerForm.get('password')?.invalid}"
                                    id="pass" [type]="show ? 'text' : 'password'"
                                    formControlName="password"
                                    class="form-control"
                                    type="password"
                                    placeholder="Enter your password">
                                    <button class="btn btn-warning" style="font-size: 14px;" type="button" (click)="toggle()"><span>Display Password ?</span></button>
                                </div>
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid}"
                                    formControlName="phone"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter your phone number">
                                </div>
                                <div class="form-group">
                                    <input
                                    [ngClass]="{'is-invalid':registerForm.get('address')?.touched && registerForm.get('address')?.invalid}"
                                    formControlName="address"
                                    class="form-control"
                                    type="text"
                                    placeholder="Enter your address">
                                </div>
                                <div class="form-group submtit">
                                    <button type="submit" (click)="sign_up()" class="ps-btn ps-btn--fullwidth">FREE REGISTER</button>
                                </div>
                            </form>
                        </div>
                        <div class="ps-form__footer">
                            <!-- <p>Connect with:</p>
                            <ul class="ps-list--social">
                                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>NEWS</h3>
                        <p>Register To Receive Information About Products & Discount Coupons</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Email Address...">
                            <button class="ps-btn">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
