<div class="ps-page--404">
    <div class="container">
        <div class="ps-section__content"><img src="img/404.jpg" alt="">
            <h3>Oops! Page Not Found</h3>
            <p>It Seems We Can't Find What You're Looking For. Perhaps Searching Can Help Or Go Back To Homepage<a [routerLink]="['/home']"> Home</a></p>
            <form class="ps-form--widget-search">
                <input class="form-control" type="text" placeholder="Search...">
                <button><i class="icon-magnifier"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>NEWS</h3>
                        <p>Register To Receive Information About Products & Discount Coupons</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Email Address...">
                            <button class="ps-btn">SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
